* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root{
  
  --main-bg-color:#182337;
  --main-txt-color:#D4DDEC;
  --secondary-bg-color:0E454C;
  --tertiary-bg-color:#23B4AF;
}

nav {
  height: 80px;
  background:var(--main-bg-color);
}

.cntr {
  margin: 0px auto;
  max-width: 1100px;
}


.navbr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 50px;
  height: 100%;
}

.logo a {
  font-size: 30px;
  color: var(--main-txt-color);
  border: 1px solid white;
  padding:8px;
  text-decoration: none;
  font-weight: 600;
}


.menu ul {
  display: flex;
 
}

.menu ul li {
  list-style: none;
  margin: 0 13px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 17px;
  padding: 10px;
  color: var(--main-txt-color);
  transition: all ease .6s;
  
}

.menu ul li a:hover {
  padding: 10px;
  background: var(--main-txt-color);
  color: #000000;
  border: none;
  border-radius: 5px;

}


  label i {
    color: var(--main-txt-color);
    font-size: 25px;
  }


#checking {
  display: none;
}


label {
  display: none;
}

/* media queries */


@media (max-width:830px) {

  .menu ul {
    position: fixed;
    top: 80px;
    left:-100%;
    background:var(--main-bg-color);
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all ease .6s;
  }

  .menu ul li {
    text-align: center;
    margin-top:30px;
   
  }

  .menu ul li a {
    font-size: 20px;
    
  }

  .menu ul li a:hover {
    padding: unset;
    background: unset;
    color:var(--tertiary-bg-color);
    border: unset;
    border-radius: unset;

  }

label{
  display: block;
}

  #checking:checked~ul {
    left: 0%;
  }

  #checking:checked~label i::before {
    content: '\f00d';
  }
}
